html,body {
  height: 100%;
  box-sizing: border-box;
}
 
#root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    min-height: 720px;
    min-width: 1280px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#searchFriends, #searchFriendsSuggestions {
    width: 95%;
}

.messenger-title {
    height: 50px;
}

.messenger-title h4 {
    display: inline-block;
}

#close-conversation {
    margin-right: 30px;
    font-size: 2.5rem;
}

.friend {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 5px;
    cursor: pointer;
}

.friend:hover {
    background-color: #eee;
}

hr {
    margin: 0 !important;
}

.friend img {
    float: left;
    width: 50px;
    margin: 9px;
    border-radius: 50%;
}

.friend .online-status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 5px;
    left: 55px;
    background-color: #b7babe; 
}
 .online-friend {
    background-color: #89e20b !important;
}

.friend-name {
    font-size: .8rem;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 7px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.last-message{
    font-size: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend .time {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: .7rem;
  }

.unseen {
    background-color: #b8effc;
  }

  .friendsList {
    height: calc(50% - 96px);
  }

  .add-friend-button {
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .cancel-request-button {
      position: absolute;
      top: 25px;
      right: 90px;
  }

  .messenger-body {
      height: calc(100% - 50px);
  }

  #send-message {
      position: absolute;
      width: 97%;
      bottom: 5px;
  }

  #send-message input {
      margin-left: 10px;
  }
  
  .messages-list {
      height: calc(100% - 100px);
      overflow: scroll;
  }

  .friend-info-avatar {
    width: 120px;
    border-radius: 50%;
    display: block;
  }
  
  .message {
    margin: 10px;
  }

  .message img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .message-text {
    display:inline-block;
    background-color: #F1F0F0;
    padding: 5px 15px;
    border-radius: 10px;
    max-inline-size: 60%;
    word-break: break-all;
    box-shadow: 0 2px 3px #999;
  }
  .message-details {
    display: block;
    font-size: .7rem;
    border-bottom: 1px solid #ccc;
  }

  .own-message p {
    background-color: #0069D9;
    color: white;
  }

  .friend-info {
    margin-top: 60px;
    height: calc(100% - 100px);
  }

  .user-menu {
    position: absolute;
    top: 5px;
    right: 15px;
    height: 50px;
  }
  
  .user-avatar{
    padding: 3px;
    width: 50px;
    border-radius: 50%;
  }